# --- Xử lý Ảnh và Nhận dạng chữ (OCR) ---
opencv-python
paddlepaddle==2.6.2
paddleocr==2.9.1
vietocr
pdf2image
matplotlib

# --- Xử lý Dữ liệu thô ---
pandas
scikit-learn

# --- Trí tuệ nhân tạo & Mô hình Ngôn ngữ (NLP) ---
transformers==4.41.2
datasets
accelerate

# --- Web Server & API Backend ---
fastapi
uvicorn[standard]
python-multipart
pydantic